///* ========================================================================
//   # SETTINGS -> Brands logo ratios
//   ======================================================================== *

// MAIN BRAND LOGO IZA
$main-logo-square: 257/282;
$main-logo-horizontal: 366/105;

// MAIN BRAND LOGO PSOL
$psol-logo-horizontal: 97/62;

// MAIN BRAND LOGO MUITAS
$muitas-logo-horizontal: 80/81;