// * ========================================================================
//   # OBJECT -> Buttons
//   ======================================================================== */


/*********************************************************
********************************************************
** GENERIC
********************************************************
*********************************************************/
%btn-general{
  @extend .o-layout__children-align--center-center;
  cursor: pointer;
}



/*********************************************************
********************************************************
** COLORS
********************************************************
*********************************************************/
%btn-skin-blue-lt{
  background: #15c3d6;
  transition: background-color 0.2s;

  &:hover{
    background: #96feff;
  }
}



/*********************************************************
********************************************************
** SIZES
********************************************************
*********************************************************/
$size: 64px;
%btn-size-square{
  width: $size;
  height: $size;
  border-radius: 20px; 
}




/*********************************************************
********************************************************
** RENDER
********************************************************
*********************************************************/
.o-btn--blue-lt{
  @include extend-array('btn-', 'general', 'size-square', 'skin-blue-lt');
}