// * ========================================================================
//   # UTILS -> Text
//   ======================================================================== */

/*
** === PLACEHOLDER FOR SCSS ONLY ===
*/

// Align
.u-text--left{ text-align: left !important;}

.u-text--center{ text-align: center !important;}

.u-text--justify{ text-align: justify !important;}

.u-text--right{ text-align: right !important;}



// Style
.u-text--uppercase{ text-transform: uppercase !important;}

.u-text--regular{ font-weight: 600;}
.u-text--bold{ font-weight: 700;}
.u-text--extra-bold{ font-weight: 800;}

.u-text--italic{ font-style: italic !important;}